@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d2d2d2;
  background-color: #0d0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  /* overflow-x: hidden; */
  /* width: 100vw; */
  background: #0d0d0d !important;
  color: #d2d2d2  !important;

}
p,
span {
  font-family: "Alegreya", "serif";
}

a {
  font-family: "Alegreya", "serif";
}

body {
  margin: 0;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: "Roboto Slab", "serif";
}
h1 {
  font-size: 3.2em;
}

.nBtn {
  border-radius: 2px;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 1em 1.2em;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: 500;
  background-color: none;
  cursor: pointer;
  /* transition: border-color 0.25s; */
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.mantine-Modal-header{
  background-color: transparent;
}

.mantine-Modal-body{
  background-color: transparent;
}

.mantine-Modal-content{
  background-color: transparent;
}


.blog-context p{
  padding-top: 5px;
  font-family: "Alegreya", "serif";
  font-size: 1.2rem;


}


.blog-context h1,.blog-context h2,.blog-context h3,.blog-context h4,.blog-context h5,.blog-context h6{
  padding: 8px 0;
  font-family: "Alegreya", "serif";
  font-size: 1.9rem;
  font-weight: bold;


}
.blog-context a {
  color: red;
}
